@model JosephJulianMuscatMSD63ASynoptic.Models.Domain.Message

@{
    ViewData["Title"] = "Pull";
}

<h1>Pull</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.msg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.msg)
        </dd>
        <dt class = "col-sm-2">
            Image?
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Url != string.Empty) { 
                <img src="@Model.Url" style="max-width: 1000px; max-height: 500px" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
